@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* $font10: 10px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px; */

/* @font-face {
  font-family: 'inter-thin';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-extra-light';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-light';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-regular';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-medium';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-semi-bold';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-bold';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-extra-bold';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap') format('truetype');
}

@font-face {
  font-family: 'inter-black';
  src: URL('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap') format('truetype');
} */

/* $font-thin: 'inter-thin';
$font-extra-light: 'inter-extra-light';
$font-light: 'inter-light';
$font-regular: 'inter-regular';
$font-medium: 'inter-medium';
$font-semi-bold: 'inter-semi-bold';
$font-bold: 'inter-bold';
$font-extra-bold: 'inter-extra-bold';
$font-black: 'inter-black'; */

