@import '../../../tokens/variables.scss';
@import '../../../tokens/tokens.css';
@import '../../static/styles/css/typography.css';
@import '../../static/styles/css/common.css';

.hide {
  visibility: hidden;
}

.ActionBar {
  height: $space-20;
  padding: $space-10 0;
  &:hover {
    cursor: pointer;
    & > .hide {
      visibility: visible;
    }
  }
  &_bar {
    align-items: center;
    background-color: $color-brand-primary-base;
    display: flex;
    height: $space-2;
    justify-content: center;
    position: relative;
    &_disabled {
      background-color: $color-brand-secondary-base;
    }
  }
  &_sign {
    filter: drop-shadow(0 $space-4 $space-4 rgba(0, 0, 0, 0.25));
    height: $space-20;
    z-index: 100;
    .tippy-wrapper {
      height: $space-20;
    }
  }
}
