name: 'coverage'
on:
  pull_request:
    branches:
      - master
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          node-version: '14.x'

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install deps
        run: npm install
        
      - name: Run tests
        run: |
          npx jest --coverage --coverageReporters json-summary --config ./test/jest.config.js

      - name: Jest coverage comment
        uses: MishaKav/jest-coverage-comment@main
        with:
          coverage-path: ./coverage/coverage-summary.json